*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

.navbar{
    display: flex;
    /* background-color: aqua; */
}
.navimage{
    width:100px;
    height:80px;
    margin-left: 30px;
}
.nav{

    width:100vw;
    height:50px
}
.navbarui{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    gap: 100px;
    list-style: none;
    font-size: large;
    /* margin-top: 20px; */
    padding: 20px;
}
.lines{
    margin-right: 10px;
}